<%= form_tag(register_infoget_path, :class => 'ui large form col s12') do %>
  <% if @user.email.nil? or @user.email == '' %>
  <div class="ui raised segment">
    <div class="ui field">
      <label for="email" class="ui left aligned header" >email</label>
      <%= text_field_tag :email, nil, placeholder: "abc@example.com" %>
    </div>
  <% end %>

    <div class="ui form">
      <%= submit_tag "제출", :class => 'ui fluid large yellow submit button' %>
<% end %>
    </div>
  </div>

<script>
  $(document).ready(function(){
    $('.ui.radio.checkbox').checkbox();
  });
</script>
