<div class="ui middle aligned center aligned grid nicForm">
  <div class="column nicColumn">
    <h2 class="ui orange image header nicImage">
      <div class="content">
        이메일 입력
      </div>
    </h2>
    <%= render 'register/common_info' %>
  </div>
</div>
